# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
.env
env/

# Project specific
backend/aao.db
backend/tmp/
backend/data/

# Node
node_modules/
.next/
dist/
build/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
